In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dst_realtime_v2 as dst

In [85]:
x = pd.DataFrame()

In [87]:
x.empty

True

In [119]:
df = dst.get_realtime_dst('2021-01-01','2022-10-17')

In [121]:
df['2021-01-01']

C:\Users\marco\AppData\Local\Temp\ipykernel_25732\2223778785.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  df['2021-01-01']

                     Values datatype
Date
2021-01-01 00:00:00    -1.0        P
2021-01-01 01:00:00    -2.0        P
2021-01-01 02:00:00    -2.0        P
2021-01-01 03:00:00    -3.0        P
2021-01-01 04:00:00    -4.0        P
2021-01-01 05:00:00    -3.0        P
2021-01-01 06:00:00    -5.0        P
2021-01-01 07:00:00    -7.0        P
2021-01-01 08:00:00    -4.0        P
2021-01-01 09:00:00    -1.0        P
2021-01-01 10:00:00    -1.0        P
2021-01-01 11:00:00     1.0       RT
2021-01-01 12:00:00     3.0        P
2021-01-01 13:00:00     4.0        P
2021-01-01 14:00:00     3.0        P
2021-01-01 15:00:00     2.0        P
2021-01-01 16:00:00     1.0        P
2021-01-01 17:00:00     2.0        P
2021-01-01 18:00:00     1.0        P
2021-01-01 19:00:00     2.0        P
2021-01-01 20:00:00     0.0        P
2021-01-01 21:00:00    -6.0        P
2021-01-01 22:00:00    -6.0        P
2021-01-01 23:00:00    -5.0        P

In [79]:
starttime = '2010-01-01'
endtime = '2015-01-01'

In [115]:
str(pd.to_datetime('2010-01').date())

'2010-01-01'

In [84]:
if pd.to_datetime(endtime) < pd.to_datetime(df_datatype['endtime'][0]):
    datatype = 'F'
elif (pd.to_datetime(endtime) > pd.to_datetime(df_datatype['endtime'][0])) and (pd.to_datetime(endtime) < pd.to_datetime(df_datatype['endtime'][1])):
    datatype = 'P'
else:
    datatype = 'RT'

In [9]:
df_datatype = pd.read_csv('dst_yearly_files/datatype_intervals.txt', sep = ',', index_col = 'datatype')

In [129]:
df_datatype['endtime'][0]

'2016-12'

In [125]:
df2 = df.loc[df_datatype['starttime'][1]:df_datatype['endtime'][1]]

In [126]:
df2

                     Values datatype
Date
2021-01-01 00:00:00    -1.0        P
2021-01-01 01:00:00    -2.0        P
2021-01-01 02:00:00    -2.0        P
2021-01-01 03:00:00    -3.0        P
2021-01-01 04:00:00    -4.0        P
...                     ...      ...
2021-12-31 19:00:00     7.0        P
2021-12-31 20:00:00     7.0        P
2021-12-31 21:00:00    11.0        P
2021-12-31 22:00:00     8.0        P
2021-12-31 23:00:00     4.0        P

[8760 rows x 2 columns]

In [128]:
df2.loc[df2['datatype'] != 'P']

                     Values datatype
Date
2021-01-01 11:00:00     1.0       RT

In [130]:
wrong_dt_dates = []
for i in (df2.loc[df2['datatype'] != 'P'].index).date:
    wrong_dt_dates += [f'{i.year}-{str(i.month).zfill(2)}']
wrong_dt_dates = list(set(wrong_dt_dates))
wrong_dt_dates.sort()

In [138]:
endtime = '2021-02-01'

In [140]:
wrong_dt_dates

['2021-01']

In [139]:
for i in wrong_dt_dates:
    if pd.to_datetime(i) not in pd.date_range(starttime,endtime, freq = 'D'):
        print('X')

In [108]:
if ((pd.to_datetime(starttime) > pd.to_datetime(df_datatype['endtime'][0]))|
    (pd.to_datetime(endtime) < pd.to_datetime(df_datatype['endtime'][1]))):
    


if (pd.to_datetime(endtime) > pd.to_datetime(df_datatype['endtime'][0])):

['2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12']

In [60]:
df2 = df.loc['2016':'2019']

In [143]:
wrong_datess = [pd.to_datetime('2021-01-01'),pd.to_datetime('2021-05-01')]
wrong_datess

[Timestamp('2021-01-01 00:00:00'), Timestamp('2021-05-01 00:00:00')]

In [151]:
import datetime
today = datetime.datetime.today()
datem = datetime.datetime(today.year, today.month, 1)
endtime = '2022-09-01'
if pd.to_datetime(endtime) >= datem:
    print('yes')

In [162]:
df = pd.read_csv('dst_yearly_files//dst_2022.txt', sep = '\t', index_col = 0)

In [165]:
df['Values'] = df['Values'].replace(9999, np.nan)

In [168]:
import os
working_directory = os.getcwd()
os.mkdir(os.path.join(working_directory,
                              'dst_yearly_files'))

In [66]:
df2.loc[df2['datatype'] != 'F'].index

DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 01:00:00',
               '2017-01-01 02:00:00', '2017-01-01 03:00:00',
               '2017-01-01 04:00:00', '2017-01-01 05:00:00',
               '2017-01-01 06:00:00', '2017-01-01 07:00:00',
               '2017-01-01 08:00:00', '2017-01-01 09:00:00',
               ...
               '2019-12-31 14:00:00', '2019-12-31 15:00:00',
               '2019-12-31 16:00:00', '2019-12-31 17:00:00',
               '2019-12-31 18:00:00', '2019-12-31 19:00:00',
               '2019-12-31 20:00:00', '2019-12-31 21:00:00',
               '2019-12-31 22:00:00', '2019-12-31 23:00:00'],
              dtype='datetime64[ns]', name='Date', length=26280, freq=None)

In [171]:
for i in range(1,13):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12